version: '2.0'
networks: {}

services:
  terraform:
    build: ./
    volumes:
      - ./:/tf_aws_basic
      - ./sample:/sample
    environment:
      - AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxxx
      - AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxx
      - TF_VAR_developer_ips=["192.168.1.2/32", "192.168.1.3/32"]
